<% include ./partials/header %>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="image" placeholder="Image Url">
    <button>Submit</button>
</form>
<a href="/campgrounds">Back to Camp Grounds</a>

<% include ./partials/header %>