body {
    background: rgba(245, 245, 245, 1);
}

img {
    max-width: 400px;
}

.thumbnail {
    padding: 0;
}

.caption-full {
    padding: 10px 15px;
}

.create-new {
    text-align: center;
    margin: 15px auto 30px auto;
}

.new-form {
    width: 30%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.form-container {
    margin-top: 60px;
}

/* .new-form, h3 {
    margin: 0 auto;
}

.new-form, a {
    margin: 0 auto;
    padding-right: 10px;
} */