    <% include ../partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h5>Browse our list of campgrounds!</h5>
                <p>A brief selection of campgrounds from around the world</p>
                <p>
                    <a href="/campgrounds/new" class="btn-sm btn-primary">Add a new Camp Ground</a>
                </p>
            </div>
        </header>
                <!-- 'Campsite is what's passed in, in the forEach, hence the ejs templating. -->
        <div class="row">
            <% campgrounds.forEach((campsite) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src= "<%= campsite.image%>" alt="">
                        <div class="caption">
                            <h4> <%= campsite.name %> </h4>
                            <a href="/campgrounds/<%= campsite._id %>" class="btn btn-primary btn-xs">More Info</a>
                        </div>   
                    </div>
                </div>      
            <% }); %>
        </div>
      <% include ../partials/footer %>