    <% include ../partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h5>Browse our list of wines!</h5>
                <p>A brief selection of wines from around the world, that <strong>ought</strong> to be shared with your friends!</p>
                <p id="directions"><a href="/signup">Sign Up</a> or <a href="/login">Log In </a> to share your favorites!</p>
                <a href="/wines/new" class="btn-sm btn-secondary red-button">Add a new Wine!</a>
           
            </div>
        </header>
                <!-- 'Campsite is what's passed in, in the forEach, hence the ejs templating. -->
        <div class="row">
            <% wines.forEach((wine) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src= "<%= wine.image%>" alt="">
                        <div class="caption">
                            <h4> <%= wine.name %> </h4>
                            <a href="/wines/<%= wine._id %>" class="btn btn-secondary btn-sm red-button">More Info</a>
                        </div>   
                    </div>
                </div>      
            <% }); %>
        </div>
      <% include ../partials/footer %>