<% include ../partials/header %>

  <div class="form-container">
        <h4 class="create-new" >Add a new wine!</h4>
      <div class="row">
        <div class="new-form">
            <form action="/wines" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" id="location" placeholder="Region">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image Url">
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-xs btn-default btn-primary btn-block red-button">Add Wine</button>
                </div>     
            </form>
            <span class="text-left">
                <a class="btn btn-secondary btn-xs" id="btn-secondary-white" href="/wines">Back to the wines!</a>
            </span> 
        </div>
      </div>
  </div>  


<% include ../partials/footer %>